---
layout: page
title: mcu
permalink: /mcu/
---

<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/mcu.css"/>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/js/mcu.js"></script>
</head>

<body>

<div id="tutorial">
  <button id="next">>></button>
  <button id="previous"><<</button>


  {% assign pageCount = site.data.pages.pages %}
  {% for i in (0..pageCount) %}

    <div id="section_{{ i }}" class="section-position">
      {% capture sectionPart %}{% include_relative curriculum/section_7/7.{{ i }}.md %}{% endcapture %}
      {{ sectionPart | markdownify }}
    </div>

  {% endfor %}

</div>
<div id="interaction">
  <button id="vailidate">check</button>
  <textarea id="code"></textarea>
</div>

</body>
</html>
